<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="css/style.css">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="app/main.js" type="text/javascript"/>
        <title>Document</title>
    </head>
    <body>
        <div class="wrapper" ng-app="Heroes" >
            <div class="" ng-controller="main" ng-init="currentWindow=1">
                <h1>Tour of Heroes</h1>
                <button type="button" name="button" ng-click="showMain()" ng-model="showDeshboard">Dashboard</button>
                <button type="button" name="button" ng-click="showHeroes()">Heroes</button>
                <div  class="main-window" ng-click="currentWindow=1" ng-show="apperaMain">
                    <div class="heroes">
                        <h4>Top heroes</h2>
                        <ul class="heroes-arr" id = "hroes-cards">
                            <li ng-repeat="hero in printHeroes()" ng-click="clickCard(hero)" data-options={{heroe.id}}>
                                <p class="entry">{{hero.name}}</p>
                            </li>
                        </ul>
                    </div>
                    <div class="heroes-search" ng-controller="search_controller">
                        <h4>Heroes serch</h2>
                        <input type="text" ng-model="nameToSsearch">
                        <ul class="content-to-display" ng-show="nameToSsearch">
                          <li ng-repeat="hero in heroes | filter: nameToSsearch" ng-click ="clickCard(hero)">
                            <p>{{hero.name}}</p>
                          </li>
                        </ul>
                    </div>
                </div>
                <div  class="my-heroes" ng-click="currentWindow=2" ng-show="apperaHeroes">
                    <h4>My heroes</h4>
                    <div class="add-hero">
                      <div class="name">Hero name: </div>
                      <input type="text" ng-model="newHero"></input>
                      <button type="button" name="button" ng-click="addHero()">Add</button>
                    </div>
                    <ul>
                        <li ng-repeat="hero in heroes" >
                            <div class="remove" ng-click="removeHero($index)">
                              <img src="img/icon.png" alt="">
                            </div>
                            <div class="descr" ng-click ="clickCard(hero)">
                                <div class="id">{{hero.id}}</div>
                                <div class="name">{{hero.name}}</div>
                            </div>
                        </li>
                    </ul>
                    <button class="back" type="button" ng-click="showMain()">Back</button>
                </div>
                <div class="heroe-settings" ng-model='hero' ng-show="apperaHeroSettings">
                  <h2 class="hero-name">{{hero.name}} details!</h2>
                  <div class="settings">
                    <div class="before">id:</div>
                    <div class="hero-id">{{hero.id}}</div>
                  </div>
                  <div class="settings">
                    <div class="before">name:</div>
                    <input ng-model="heroes[hero.id-1].name"></input>
                  </div>
                  <button class="back" type="button" ng-click="goBack()">Back</button>
                </div>
            </div>
        </div>
    </body>
    <script src="" type="text/javascript"/>
    <script src="" type="text/javascript"/>

</html>
